$visible: #DEDEDE;
$positive: #116611;
$reward: #D7EA2B;
$passive: #565656;


.everything {
  background-color: #141436;
  color: $visible;
  width: 2000px;
  overflow: hidden;
  .title {
  }

  .footer {
    display: flex;
    flex-flow: row wrap;
    color: $reward;
    position: fixed;
    bottom: 20px;
    left: 20px;
    > h3 {
      margin: 0px;
    }
    .left {
      margin: 0 50px 0 0;
    }
    .space {
      padding: 5px;
    }
  }

  .reward-item {
    border: solid 1px;
    border-color: $visible;
    background-color: $passive;
    padding: 5px;
    margin: 5px;
    > h3 {
      margin: 0px;
    }
    > h4 {
      margin: 0px;
    }
  }

  .selected {
    color: $visible;
    background-color: $positive;
    border-color: $reward;
  }
  .more-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .map-wrap {
    display: flex;
    flex-direction: row;
    .section-1 {
      display: flex;
      align-items: center;
      flex-shrink: 1;
    }
    .section-2-wrap {
      display: flex;
      flex: 3;
      flex-direction: column;
      .section-2 {
        display: flex;
        flex-direction: row;
        flex: 2;
        .section-4-5-wrap {
          display: flex;
          flex-direction: column;
          flex: 2;
          .section-4 {
            display: flex;
          }
          .section-5 {
            display: flex;
          }
        }
      }
      .section-3 {
        display: flex;
        flex-direction: row;
        flex: 2;
        .section-6-7-wrap {
          display: flex;
          flex-direction: column;
          flex: 2;
          .section-6 {
            display: flex;
          }
          .section-7 {
            display: flex;
          }
        }
      }
    }
  }

}
