<!DOCTYPE html>
<html ng-app="roadmapApp">

  <head>
    <script src="./js/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="./js/roadmap.js"></script>
    <script src="./js/constants.js"></script>
    <script src="./js/rawMap.js"></script>
    <script src="./js/mapMaker.js"></script>
    <script src="./js/binaryNode.js"></script>
    <script src="./directives/rewardItem.js"></script>
    <link rel="stylesheet" href="./css/roadmap.css" />
  </head>

  <body class="everything">
    <div ng-controller="RoadmapController as roadmap">

      <div class="map-wrap">
        <div class="section-1">
          <div class="more-flex">
            <div ng-repeat="item in roadmap.tree | filter: {section: 1}">
              <reward-item item="item.data" ng-click="roadmap.toggle(item)"></reward-item>
            </div>
          </div>
        </div>
        <div class="section-2-wrap">
          <div class="section-2">
            <div class="more-flex">
              <div ng-repeat="item in roadmap.map | filter: {section: 2}">
                <reward-item item="item" ng-click="roadmap.toggle(item)"></reward-item>
              </div>
            </div>

            <div class="section-4-5-wrap">
              <div class="section-4">
                <div class="more-flex">
                  <div ng-repeat="item in roadmap.map | filter: {section: 4}">
                    <reward-item item="item" ng-click="roadmap.toggle(item)"></reward-item>
                  </div>
                </div>
              </div>
              <div class="section-5">
                <div class="more-flex">
                  <div ng-repeat="item in roadmap.map | filter: {section: 5}">
                    <reward-item item="item" ng-click="roadmap.toggle(item)"></reward-item>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="section-3">
            <div class="more-flex">
              <div ng-repeat="item in roadmap.map | filter: {section: 3}">
                <reward-item item="item" ng-click="roadmap.toggle(item)"></reward-item>
              </div>
            </div>

            <div class="section-6-7-wrap">
              <div class="section-6">
                <div class="more-flex">
                  <div ng-repeat="item in roadmap.map | filter: {section: 6}">
                    <reward-item item="item" ng-click="roadmap.toggle(item)"></reward-item>
                  </div>
                </div>
              </div>
              <div class="section-7">
                <div class="more-flex">
                  <div ng-repeat="item in roadmap.map | filter: {section: 7}">
                    <reward-item item="item" ng-click="roadmap.toggle(item)"></reward-item>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="footer">
        <div>Cascade changes?<input type="checkbox" ng-model="roadmap.cascade"></div>
        <h3 ng-show="roadmap.rewards.total">Total cost: {{roadmap.rewards.total}}&diams;</h3>
        <p class="space" ng-if="roadmap.rewards.gold">Gold: {{roadmap.rewards.gold}}K </p>
        <p class="space" ng-if="roadmap.rewards.gems">Gems: {{roadmap.rewards.gems}} </p>
        <p class="space" ng-if="roadmap.rewards.swords">Swords: {{roadmap.rewards.swords}} </p>
        <p class="space" ng-if="roadmap.rewards.rune">Runes: {{roadmap.rewards.rune}} </p>
        <p class="space" ng-if="roadmap.rewards.removal">Rune Removal: {{roadmap.rewards.removal}} </p>
        <p class="space" ng-if="roadmap.rewards.knownHero">Known Heroes: {{roadmap.rewards.knownHero}} </p>
        <p class="space" ng-if="roadmap.rewards.heroTicket">Hero Tickets: {{roadmap.rewards.heroTicket}} </p>
        <p class="space" ng-if="roadmap.rewards.knownFairy">Known Fairies: {{roadmap.rewards.knownFairy}} </p>
        <p class="space" ng-if="roadmap.rewards.fairyTicket">Fairy Tickets: {{roadmap.rewards.fairyTicket}} </p>
        <p class="space" ng-if="roadmap.rewards.summon">Summon Tickets: {{roadmap.rewards.summon}} </p>
      </div>

    </div>
  </body>

</html>
